<div ng-app="appMonitor">
    <div class="row">
        <div class="col-md-3" ng-controller="vadieselCtrl" ng-init="atualizaCasa()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vadiesel</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Vendas Abaixo do Custo: &nbsp;<input type="checkbox" ng-change="bloquearCusto(130,0)" id="abaixoCustoVad" class="checkbox-inline" ng-model="custoBloqueado" /></li>
                        <li class="list-group-item">Desconto < R$ 51: &nbsp;<input type="checkbox" ng-change="bloquearDescMin(130,0)" id="descontoMinVad" ng-model="descMinBloqueado" /></li>
                        <li class="list-group-item">Valor do Desconto Mínimo:&nbsp;<label id="valorDescMinVad">{{valorDescMin}}</label></li>
                        <li class="list-group-item">Venda Atípica:&nbsp;<input type="checkbox" ng-change="bloquearPlano(130, 526)" id="planoPagamentoVad" ng-model="planoBloqueado" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-controller="calistoCtrl" ng-init="atualizaCasa()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Calisto</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Abaixo do custo: &nbsp;<input type="checkbox" ng-change="bloquearCusto(262,0)" id="abaixoCustoCal" class="checkbox-inline" ng-model="custoBloqueado" /></li>
                        <li class="list-group-item">Desconto < R$ 51: &nbsp;<input type="checkbox" ng-change="bloquearDescMin(262,0)" id="descontoMinCal" ng-model="descMinBloqueado" /></li>
                        <li class="list-group-item">Valor do Desconto Mínimo:&nbsp;<label id="valorDescMinCal">{{valorDescMin}}</label></li>
                        <li class="list-group-item">Venda Atípica:&nbsp;<input type="checkbox" ng-change="bloquearPlano(262, 526)" id="planoPagamentoCal" ng-model="planoBloqueado" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-controller="cardieselCtrl" ng-init="atualizaCasa()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Cardiesel</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Vendas Abaixo do Custo: &nbsp;<input type="checkbox" ng-change="bloquearCusto(930,0)" id="abaixoCustoCad" class="checkbox-inline" ng-model="custoBloqueado" /></li>
                        <li class="list-group-item">Desconto < R$ 51: &nbsp;<input type="checkbox" ng-change="bloquearDescMin(930,0)" id="descontoMinCad" ng-model="descMinBloqueado" /></li>
                        <li class="list-group-item">Valor do Desconto Mínimo:&nbsp;<label id="valorDescMinCad">{{valorDescMin}}</label></li>
                        <li class="list-group-item">Venda Atípica:&nbsp;<input type="checkbox" ng-change="bloquearPlano(930, 526)" id="planoPagamentoCad" ng-model="planoBloqueado" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3" ng-controller="redeCtrl" ng-init="atualizaCasa()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Rede Mineira</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">Vendas Abaixo do Custo: &nbsp;<input type="checkbox" ng-change="bloquearCusto(3610,0)" id="abaixoCustoRed" class="checkbox-inline" ng-model="custoBloqueado" /></li>
                        <li class="list-group-item">Desconto < R$ 51: &nbsp;<input type="checkbox" ng-change="bloquearDescMin(3610,0)" id="descontoMinRed" ng-model="descMinBloqueado" /></li>
                        <li class="list-group-item">Valor do Desconto Mínimo:&nbsp;<label id="valorDescMinRed">{{valorDescMin}}</label></li>
                        <li class="list-group-item">Venda Atípica:&nbsp;<input type="checkbox" ng-change="bloquearPlano(3610, 526)" id="planoPagamentoRed" ng-model="planoBloqueado" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" ng-controller="postoCtrl" ng-init="atualizaCasa()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Posto Imperial</h3>
                </div>
                <div class="panel-body">
                    <table class="table-striped">
                        <tr class="list-group-item">
                            <td>Vendas Abaixo do Custo:&nbsp;&nbsp;Matriz&nbsp;<input type="checkbox" ng-change="bloquearCusto(2890,0)" id="abaixoCustoPos" class="checkbox-inline" ng-model="custoBloqueado" /></td>
                            <td>&nbsp;&nbsp;Filial&nbsp;<input type="checkbox" ng-change="bloquearCustoF(2890,1)" id="abaixoCustoPosF" class="checkbox-inline" ng-model="custoBloqueadoF" /></td>
                        </tr>
                        <tr class="list-group-item">
                            <td>Desconto < R$ 51:&nbsp;&nbsp;Matriz&nbsp;<input type="checkbox" ng-change="bloquearDescMin(2890,0)" id="descontoMinPos" ng-model="descMinBloqueado" /></td>
                            <td>&nbsp;&nbsp;Filial&nbsp;<input type="checkbox" ng-change="bloquearDescMin(2890,1)" id="descontoMinPosF" ng-model="descMinBloqueadoF" /></td>
                        </tr>
                        <tr class="list-group-item">
                            <td>Valor do Desconto Mínimo:</td>
                            <td>Matriz&nbsp;<label id="valorDescMinPos">{{valorDescMin}}</label></td>
                            <td>Filial&nbsp;<label id="valorDescMinPosF">{{valorDescMinF}}</label></td>
                        </tr>
                        <tr class="list-group-item">
                            <td>Venda Atípica:&nbsp;&nbsp;<input type="checkbox" ng-change="bloquearPlano(2890, 526)" id="planoPagamentoPos" ng-model="planoBloqueado" /></td>
                        </tr>
                    </table>                 
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Auto Sete</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input type="checkbox" name="teste" value="teste" />
                            <input type="checkbox" name="teste" value="teste2" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Goias</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input type="checkbox" name="teste" value="teste" />
                            <input type="checkbox" name="teste" value="teste2" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
