
@{
    ViewBag.Title = "Administração";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administração</h2>
<div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Usuarios
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
        Gerenciar
    </ul>
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Perfis
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
        Gerenciar
    </ul>
</div>

